<!DOCTYPE html>
{% load blog_tags%}
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <meta charset="utf-8">
    <title>{%block title_block%}{%endblock%}</title>
  </head>
  <body>
    <div class="content">
      {%block content_block%}{%endblock%}
    </div>

     <div class="sidebar">
       <h2>Umang's Block</h2>
       <p>The total number of Posts upto today is:<span id='pcount'>{%total_posts%}</span> </p>
       <h3>Latest Posts: {%show_lastest_post 4%}</h3>
       <h3>Most Commented Posts:</h3>
       {%get_most_commented_posts as most_commented_posts%}
       <ul>
         {%for post in most_commented_posts%}
         <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
         {%endfor%}
       </ul>
     </div>
   </body>
   </html>
